@use '../../variables.scss' as *;

.board {
  width: min-content;
  margin: 3rem auto;

  div {
    background-color: $dark-blue-700;
    border-radius: 999px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

    span {
      visibility: hidden;

      // display, justfy-content and align-items below is to put icons in the center
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 65%;
        height: 65%;
      }
    }

    &.up {
      background-color: $light-blue-200;
      color: $white;

      span {
        visibility: visible;
      }
    }

    &.selected {
      border: 2px solid $light-orange;
    }

    &.correct {
      background-color: $light-orange;
      color: $white;
      span {
        visibility: visible;
      }
    }
    
    &.wrong {
      background-color: red;
      color: $white;
      span {
        visibility: visible;
      }
    }

    // To remove the hover effects on mobile
    @media (hover: hover) and (pointer: fine) {
      &:hover:not(.up):not(.correct):not(.wrong) {
        background-color: $light-blue-400;
        cursor: pointer;
      }
    }
  }
}

.board-6x6 {
  display: grid;
  grid-template-columns: repeat(6 , 1fr);
  gap: 1rem;

  div {
    font-size: 2.75rem;
    width: 5rem;
    height: 5rem;
  }

  @include tablet {
    & {
      div {
        width: 4.7rem;
        height: 4.7rem;
      }
      gap: 0.9rem;
    }
  }


  @include tablet-middle {
    & {
      div {
        font-size: 2rem;
        width: 3.5rem;
        height: 3.5rem;
      }
      gap: 0.7rem;
    }
  }

  @include mobile-L {
    & {
      div {
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
      }
      gap: 0.5rem;
    }
  }

  @include mobile-M {
    & {
      div {
        width: 2.9rem;
        height: 2.9rem;
      }
      gap: 0.3rem;
    }
  }
}

.board-4x4 {
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 1rem;

  div {
    font-size: 3.5rem;
    width: 6rem;
    height: 6rem;
  }

  @include tablet-middle {
    & {
      div {
        font-size: 2.5rem;
        width: 5rem;
        height: 5rem;
      }
      gap: 1rem; 
    }
  }

  @include mobile-L {
    & {
      div {
        width: 4.5rem;
        height: 4.5rem;
      }
      gap: 0.75rem;
    }
  }

  @include mobile-M {
    & {
      div {
        font-size: 2rem;
        width: 4rem;
        height: 4rem;
      }
      gap: 0.5rem;
    }
  }
}